@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<div class="container d-flex justify-content-center p-5 ">
    <div class="card w-50 ">
        <div class="card-header text-center" style="background-color: rgb(230, 208, 183);">
            忘記密碼
        </div>
        <div class="card-body">
            <form class="needs-validation" novalidate>
                <div class="row mb-3">
                    <label for="inputAccount2" class="col-sm-2 col-form-label text-end">帳號:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputAccount2" required>
                        <div class="invalid-feedback">請輸入帳號</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail2" class="col-sm-2 col-form-label text-end">信箱:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail2" required>
                        <div class="invalid-feedback">請輸入密碼</div>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button class="btn btn-warning w-25" type="submit" id="SubmitForget">提交</button>
                    <a asp-area="" asp-controller="Members" asp-action="LogIn" class="btn btn-warning w-25" role="button" id="CancelForget">取消</a>
                </div>

            </form>
        </div>
    </div>
</div>

