@model Long_Term_Care.Models.Member

@{
    ViewData["Title"] = "Edit";
    ViewBag.xcd = "男性";
}


<link rel="stylesheet" href="/css/SignUp/SignUp.css">





<form class="row g-3 modal_content_sign w-100" asp-action="Edit" enctype="multipart/form-data">
    <h1>會員編輯</h1>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="MemberId" />
    <hr />
    <div class="col-md-6">
        <label asp-for="MemberAvatar" class="control-label"><b>大頭貼</b></label><br />
        @if (Model.MemberAvatar != null)
        {
            <figure class="figure w-50 bg-light" style="border-radius: 50%;">
                <img id="apple" class="figure-img img-fluid " src="data:image/*;base64,@(Convert.ToBase64String(Model.MemberAvatar))" style="border-radius: 50%;">
            </figure>
        }
      
        else
        {
            <img id="apple" src="">
        }
        <input asp-for="MemberAvatar" class="form-control" type="file" onchange="document.getElementById('apple').src = window.URL.createObjectURL(this.files[0])" />
        <span asp-validation-for="MemberAvatar" class="text-danger"></span>
    </div>
    <div class="col-md-6 w-100"></div>
    <div class="col-md-6">
        <label asp-for="UserName" class="control-label"><b>*帳號：</b></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Password" class="control-label"><b>*密碼：</b></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="w-100"></div>
    <div class="col-md-6">
        <label asp-for="MemberName" class="control-label"><b>*姓名：</b></label>
        <input asp-for="MemberName" class="form-control" />
        <span asp-validation-for="MemberName" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Gender" class="form-check-label"><b>*性別：</b></label><br />
        <div class="form-check form-check-inline">
            <input asp-for="Gender" class="form-check-input" type="radio" id="inlineCheckbox1" name="Gender" value="男性">
            <label class="form-check-label" for="inlineCheckbox1">男性</label>
        </div>
        <div class="form-check form-check-inline">
            <input asp-for="Gender" class="form-check-input" type="radio" id="inlineCheckbox2" name="Gender" value="女性">
            <label class="form-check-label" for="inlineCheckbox2">女性</label>
        </div>
        <span asp-validation-for="Gender" class="text-danger"></span>

    </div>
    <div class="col-md-6">
        <label asp-for="Email" class="control-label"><b>*信箱：</b></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="HomePhone" class="control-label"><b>*市話：</b></label>
        <input asp-for="HomePhone" class="form-control" />
        <span asp-validation-for="HomePhone" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="MobilePhone" class="control-label"><b>*手機：</b></label>
        <input asp-for="MobilePhone" class="form-control" />
        <span asp-validation-for="MobilePhone" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="City" class="control-label"><b>*城市：</b></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="District" class="control-label"><b>*地區：</b></label>
        <input asp-for="District" class="form-control" />
        <span asp-validation-for="District" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Address" class="control-label"><b>*地址：</b></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <input asp-for="CaseId" class="form-control" type="hidden"><br/>
    <div class=" d-grid gap-2 col-6 mx-auto">
        <p>

            <button class="btn btn-success w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                新增個案
            </button>
        </p>
       
    </div>
    <div class="collapse" id="collapseExample">
        <div class="border row g-3">
            
            <div class="col-md-6">
                <label  class="control-label"><b>*姓名：</b></label>
                <input asp-for="Case.CaseName" class="form-control" />
                <span asp-validation-for="Case.CaseName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="control-label"><b>*性別：</b></label>
                <input asp-for="Case.Gender" class="form-control" />
                <span asp-validation-for="Case.Gender" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="control-label"><b>*生日：</b></label>
                <input asp-for="Case.Birthdate" class="form-control" />
                <span asp-validation-for="Case.Birthdate" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="control-label"><b>*年齡：</b></label>
                <input asp-for="Case.Age" class="form-control" />
                <span asp-validation-for="Case.Age" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="control-label"><b>*身分證：</b></label>
                <input asp-for="Case.IdentificationNumber" class="form-control" />
                <span asp-validation-for="Case.IdentificationNumber" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="control-label"><b>*身分別：</b></label>
                <input asp-for="Case.IdentityType" class="form-control" />
                <span asp-validation-for="Case.IdentityType" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="control-label"><b>*手機號碼：</b></label>
                <input asp-for="Case.CasePhone" class="form-control" />
                <span asp-validation-for="Case.CasePhone" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="control-label"><b>*市話：</b></label>
                <input asp-for="Case.FamilyPhone" class="form-control" />
                <span asp-validation-for="Case.FamilyPhone" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="control-label"><b>*城市：</b></label>
                <input asp-for="Case.City" class="form-control" />
                <span asp-validation-for="Case.City" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="control-label"><b>*地區：</b></label>
                <input asp-for="Case.District" class="form-control" />
                <span asp-validation-for="Case.District" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="control-label"><b>*地址：</b></label>
                <input asp-for="Case.Address" class="form-control" />
                <span asp-validation-for="Case.Address" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="control-label"><b>*關係：</b></label>
                <input asp-for="Case.Relation" class="form-control" />
                <span asp-validation-for="Case.Relation" class="text-danger"></span>
            </div>
          @*   <div class="col-12 signbtn">
                <!-- 要加入超連結轉跳 -->
                <button class="btn btn-success signup_btn" type="button">確認</button>
                <button class="btn btn-danger cancel_btn" type="button">取消</button>
            </div> *@
        </div>
    </div>
    <div class="col-12 signbtn">
        <!-- 要加入超連結轉跳 -->
        <button class="btn btn-success signup_btn" type="submit">確認</button>
        <button class="btn btn-danger cancel_btn" type="submit" asp-action="LogIn">取消</button>
    </div>
</form>


